*.a
*.o
HTKTools/HBuild
HTKTools/HCompV
HTKTools/HCopy
HTKTools/HDMan
HTKTools/HERest
HTKTools/HHEd
HTKTools/HInit
HTKTools/HLEd
HTKTools/HLRescore
HTKTools/HLStats
HTKTools/HList
HTKTools/HMGenS
HTKTools/HMMIRest
HTKTools/HParse
HTKTools/HQuant
HTKTools/HRest
HTKTools/HResults
HTKTools/HSGen
HTKTools/HSLab
HTKTools/HSmooth
HTKTools/HVite
